#!/bin/bash

# Turns on second screen 
# Puts the first one on the right of the second one
resolve_display() {
	echo "Turning on the screen"
	xrandr --output HDMI-2 --auto

	if [ "$1" = "right" ] 
	then
		echo "Setting the screen on the right of the computer"
		xrandr --output HDMI-2 --right-of eDP-1			
	else
		echo "Setting the screen on the left of the computer"
		xrandr --output HDMI-2 --left-of eDP-1	
	fi	
	
	return
}

# Creates a dir and cd into it
mkcd() {
    mkdir -p "$1" && cd "$1"
}

# Removes exited containers
drm() {
    docker rm $(docker ps -a -f status=exited -q)
}

# Removes dangling images
drmi() {
    docker rmi $(docker images --filter "dangling=true" -q)
}

# Search for a specific term in a js project 
searchjs() {
    grep -r --include=*.js --exclude-dir={"vendor|.git|.github|node_modules|containers"} "$1" app/
}
